# .gitignore as whitelist
# ignore all
*
# except these directories
!envs/
# git files
!.gitignore
!.gitlab-ci.yml
!LICENSE
!*.md
# config files
!*.yaml
!*.yml
# scripts
!*.py
!*.R
# snakemake workflow files
!Snakefile
!*.snakefile
